# This is an example .env file. Copy this to .env and fill in the values. Values should be unquoted.
# The script present inside the `scripts` folder will read the values from this file and use them to connect to WiFi and MQTT broker.

# WiFi
WIFI_SSID=YOUR_SSID
WIFI_PASS=YOUR_PASSWORD

# MQTT
MQTT_HOST=HOST_IP
MQTT_PORT=HOST_PORT
MQTT_USER=YOUR_MQTT_USER
MQTT_PASS=YOUR_MQTT_PASSWORD
